<% include partials/header.ejs %>

<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="panel panel-default">
				<div class="panel-header text-center">
					<h1>Add new campground here</h1>
				</div>
				<div class="panel-body">
					<form method="POST" action="/campgrounds" >
						<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="campground name">
						</div>
						<div class="form-group">
						<input class="form-control" type="text" name="image" placeholder="image url">
						</div>
						<div class="form-group">
						<input class="form-control" type="text" name="description" placeholder="description">
						</div>
						<button class="btn btn-primary btn-block">Submit</button>
					</form>
				</div>
				<div class="panel-footer">
					<a href="/campgrounds">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>